@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";
@import "../../../styles/general_styles.css";

.subtitle_line {
  border: none;
  height: 1px;
  background-color: #cbcbcb;
  margin: 10px 0;
  width: 3.375rem;
}

.subtitle_block {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.h1 {
  margin-top: 35px;
}

.line_sub {
  display: flex;
  width: 240px;
  justify-content: space-between;
}
