@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";
@import "../../../styles/general_styles.css";

.text-h1 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 76px;
  line-height: 120%;
  letter-spacing: -3px;
  color: var(--black-color);
}

.text-h2 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: 0px;
  color: var(--black-color);
}

.text-h3 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 45px;
  line-height: 25px;
  letter-spacing: 0px;
  color: var(--black-color);
}

.text-li {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 20px;
  line-height: 30.5px;
  letter-spacing: 0;
  color: var(--paragraph-color);
}

.features_large {
  font-family: var(--font-features);
  font-weight: 700;
  font-size: 42px;
  line-height: 54px;
  letter-spacing: 0;
  color: var(--white-color);
}

.features_small {
  font-family: var(--font-secondary);
  color: var(--features-sm-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

@media (max-width: 400px) {
  .text-h1 {
    font-size: 60px;
  }
}
