@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";
@import "../../../styles/general_styles.css";

.text_btn_block {
  position: relative;
}

.h2 {
  margin-top: 91px;
  margin-bottom: 68px;
}

.list {
  margin-bottom: 70px;
}

.arrow {
  padding-left: 10px;
}

.arrowSW {
  position: absolute;
  top: 86%;
  left: 31%;
}
