:root {
  --primary-color: #6c5fbc;
  --navlink-color: #606060;
  --black-color: #201f1f;
  --white-color: #ffffff;
  --features-sm-color: #c5bfed;
  --paragraph-color: #676767;
  --hr-line-color: #cbcbcb;
  --info-tag-color: #daa31a;
  --review-bg-color: #636363;
}
