@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";
@import "../../../styles/general_styles.css";

.infocard {
  border: none;
  border-radius: 30px;
}

.infocard_text {
  margin-left: 40px;
}

.title {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 26px;
  line-height: 42px;
  color: var(--black-color);
  white-space: nowrap;
}

.details {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #8e97a6;
}

.text {
  display: flex;
  align-items: center;
}

.meal_type {
  display: flex;
  align-items: center;

  /* width: 2.75rem; */
  height: 1.625rem;
  border: none;
  border-radius: 5.5px;
  font-family: var(--primary-color);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0;
  color: var(--info-tag-color);
}
