@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";
@import "../../../styles/general_styles.css";

.line {
  border: none;
  height: 1px;
  background-color: var(--hr-line-color);
  margin: 3px 0;
}
