@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";
@import "../../../styles/general_styles.css";

.features_left_lines {
  position: relative;
}

.line_1 {
  position: absolute;
  top: -2%;
  left: 0%;
}

.features {
  display: flex;
  background-color: var(--primary-color);
  align-items: center;
}

.features_blocks {
  display: flex;
  gap: 60px;
}
.features_block {
  display: flex;
  flex-direction: column;
  position: relative;
}

.features_block::after {
  content: "";
  border-right: 1px solid #c5c5c5;
  height: 125px;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.features_block:last-child::after {
  display: none;
}

.features_large {
  font-family: var(--font-features);
  font-weight: 700;
  font-size: 42px;
  line-height: 54px;
  letter-spacing: 0;
  color: var(--white-color);
}

.features_small {
  font-family: var(--font-secondary);
  color: var(--features-sm-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

.features_right_lines {
  position: relative;
}

.right_line_1 {
  position: absolute;
  top: -5px;
  left: 122px;
}

.right_line_2 {
  position: absolute;
  top: -3px;
  left: 159px;
}

@media (max-width: 1439px) {
  .features,
  .features_blocks {
    flex-wrap: wrap;
    justify-content: center;
  }
  .features_block {
    border: none;
  }
  .features_right_lines,
  .features_left_lines {
    display: none;
  }
}
