@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";
@import "../../../styles/general_styles.css";

.scroll {
  border-radius: 50px;
  width: 41.6875rem;
  border: none;
  height: 12px;
  background: linear-gradient(
    to right,
    var(--primary-color) 0% 28%,
    #adadad 28% 100%
  );
}
