@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";

.navlink {
  font-family: var(--font-secondary);
  font-optical-sizing: auto;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  line-height: 26.7px;
  letter-spacing: 0px;
  color: var(--navlink-color);
  transition: color 0.3s ease;
}

.navlink:hover {
  color: var(--primary-color);
}
