@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";
@import "../../../styles/general_styles.css";

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 145px;
}

.hero_text_block {
  margin-left: 72px;
  margin-top: 71px;
}

.buttons {
  width: 14.0625rem;
  display: flex;
  justify-content: space-between;
}
