@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";
@import "../../../styles/general_styles.css";

.hero {
  display: flex;
  justify-content: space-around;
  height: 65vh;
  align-items: center;
}

.hero_text_block {
}

.hero_image {
}
.buttons {
  width: 14.0625rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1280px) {
  .hero {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media screen and (max-width: 1105px) {
  .hero {
    height: 100vh;
    gap: 75px;
  }
}

@media screen and (max-width: 900px) {
  .hero {
    margin-bottom: 60px;
  }

  .hero_image {
  }
}

@media (max-width: 609px) {
  .hero {
    margin-bottom: 135px;
  }
}

@media (max-width: 390px) {
  .hero {
    margin-bottom: 0;
  }
}
