@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";

.header {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
}

@media (max-width: 400px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
  }
}
