@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";
@import "../../../styles/general_styles.css";

.reviewcard {
  background-color: var(--white-color);
  border-radius: 20px;
  width: 95%;
  height: 170px;
  margin-right: 50px;
}

.name_quote {
  display: flex;
  justify-content: space-between;

  align-items: flex-end;
  margin-left: 40px;
}

.reviewer {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  color: var(--black-color);
}

.commentary {
  font-family: var(--font-primary);
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--review-bg-color);
  margin-left: 32px;
}
