@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";
@import "../../../styles/general_styles.css";

.purchases_card {
  display: flex;
  width: 18.625rem;
  height: 5.625rem;
  border-radius: 12px;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-evenly;
  
}

.title {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: var(--black-color);
  margin-bottom: 0;
  margin-top: 10px;
}

.status {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  color: var(--black-color);
}

.cancelledStatus {
  color: #fb471d;
}

.time {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  color: #acadb9;
  display: flex;
  align-self: flex-end;
}

.text_block {
  display: flex;
  flex-direction: column;
  width: 8.25rem;
}
