@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";
@import "../../../styles/general_styles.css";

.heroimage {
  position: relative;

  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: flex;
  align-items: flex-end;
}

.hero_image_food {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.linesNE {
  position: absolute;
  top: -20%;
  right: -27%;
}

.hero_purch_card {
  position: absolute;
  top: -17%;
  left: 48%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.graph {
  position: absolute;
  top: 51%;
  right: 60%;
}

.linesSW {
  position: absolute;
  bottom: -11%;
  left: -18%;
}

.arrow_rope_r {
  position: absolute;
  top: 13%;
  right: -15%;
}

@media screen and (max-width: 901px) {
  .graph {
    top: 74%;
    right: 10%;
  }
  .arrow_rope_r,
  .linesNE,
  .linesSW {
    display: none;
  }
  .hero_image {
    margin-right: 0;
  }
  .hero_purch_card {
    left: 20%;
  }
}

@media (max-width: 404px) {
  .graph,
  .hero_purch_card {
    display: none;
  }
}

@media (max-width: 320px) {
}

@media screen and (max-width: 485px) {
}
