@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";
@import "../../../styles/general_styles.css";

.heroimage {
  position: relative;
  width: 591px;
  height: 603px;
  display: flex;
  align-items: flex-end;
}

.linesNE {
  position: absolute;
  top: 9%;
  right: 3%;
}

.hero_purch_card {
  position: absolute;
  top: 15%;
  left: 34%;
}

.graph {
  position: absolute;
  top: 63%;
  right: 68%;
}

.linesSW {
  position: absolute;
  bottom: -11%;
  left: -18%;
}

.arrow_rope_r {
  position: absolute;
  top: 34%;
  right: 14%;
}
