@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";

.logo {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo:hover {
  transform: scale(1.1);
}

.logo_text {
  font-family: var(--font-primary);
  font-weight: 600;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0px;
  color: var(--primary-color);
}
