@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";
@import "../../../styles/general_styles.css";

.purchases {
  display: flex;
  /* margin: 0 auto;
  margin-top: 95px; */
  justify-content: space-around;
  /* align-items: center; */
  /* width: 1325px; */
  /* width: 100%; */
  /* height: 601px; */
  /* margin-bottom: 80px; */
}

.text_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.purch_img {
  width: 550px;
  height: 560px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.purch_card {
  /* padding-bottom: 10px;
  margin-bottom: 10px; */
}

.first_purch_card {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.h2 {
  /* margin-bottom: 50px; */
}

@media (max-width: 1190px) {
  .purchases {
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  .purch_img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}
