@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";
@import "../../../styles/general_styles.css";

.places {
  margin-top: 60px;
  margin-bottom: 230px;
}

.h3 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.infocardblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.infocard_img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}

@media screen and (max-width: 350px) {
  .h3 {
    line-height: 45px;
  }
}
