@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";
@import "../../../styles/general_styles.css";

.h3 {
  display: flex;
  justify-content: space-around;
}

.infocardblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
