@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";
@import "../../../styles/general_styles.css";

.downloadapp {
  display: flex;
  width: 1204px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 115px;
}

.download_img {
  margin-left: 96px;
}
