@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";
@import "../../../styles/general_styles.css";

.downloadapp {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 115px;
}

.download_img {
  margin-left: 85px;
}

@media (max-width: 1110px) {
  .downloadapp {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}
