@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";

.navmenu {
  display: flex;
  align-items: center;
  margin-left: 5.76rem;
  flex-wrap: wrap;
  justify-content: center;
}

.spacer {
  padding-left: 3.25rem;
  padding-right: 3.25rem;
}

@media (max-width: 400px) {
  .navmenu {
    margin-left: 0;
  }
}
