@import "../../../styles/variables.module.css";
@import "../../../styles/fonts.css";
@import "../../../styles/general_styles.css";

.review {
  margin-top: 116px;
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.reviewcards_wrapper {
  display: flex;
  width: 1225px;
}

.small_review_cards_block {
  display: flex;
  flex-direction: column;
}

.small_review_cards {
  display: flex;
}

.h3 {
  margin-bottom: 100px;
}
