:root {
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  min-width: 320px;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.header_line {
  border: none;
  height: 1px;
  background-color: #cbcbcb;
  margin: 10px 0;
}

.highlight {
  color: var(--primary-color);
}
