:root {
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:global(html) {
  scroll-behavior: smooth;
}
.container {
  min-width: 320px;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
